// src/components/Register/Register.scss

.register-container {
  width: 100vw;
  height: 100vh;
  background-image: url("../../../../public/koi-background.jpg"); // Đảm bảo bạn đã thêm hình ảnh vào thư mục public/images/
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-form-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  width: 600px;

  @media (max-width: 600px) {
    width: 90%;
    padding: 20px;
  }

  .register-form {
    width: 100%;

    .MuiTextField-root {
      margin-bottom: 16px;
    }

    .error-message {
      color: red;
      margin-bottom: 16px;
    }

    .MuiDivider-root {
      margin: 24px 0;
    }

    .register-text {
      margin-top: 16px;
    }
  }
}

.logo-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.username {
  margin: 0 10px;
}

.cart-button {
  margin-right: 10px;
}

.logout-button {
  margin-left: 10px;
}
