.admin-layout {
  height: 100vh;

  .admin-content {
    padding: 20px;
    background-color: #f0f2f5;
    overflow-y: auto;
  }

  .order-details-card {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
