.koi-list {
  .breadcrumb-background {
    background-image: url("../../../assets/koi-list/breadcrumb-background.png"); /* Đường dẫn đến ảnh background */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px 0px;
    margin-bottom: 20px;
  }

  .ant-breadcrumb {
    padding: 0px 40px;
    font-size: 16px;
  }

  .ant-breadcrumb a {
    color: #333;
  }

  .ant-breadcrumb a:hover {
    color: blue;
    text-decoration: underline;
  }
}
