.manager-consignment-approval-content {
  padding: 20px;
  background-color: #f9f9f9;
}

.manager-consignment-approval-page {
  padding: 30px;
  background-color: #fff;
  min-height: 100%;
}

.approval-list {
  margin-top: 20px;
}
