.admin-header {
  background-color: #ffffff;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-content {
    display: flex;
    align-items: center;
  }

  .welcome-message {
    margin-right: 20px;
    font-weight: bold;
  }

  .logout-icon {
    font-size: 20px;
    cursor: pointer;
  }
}
