.admin-layout {
  height: 100vh;

  .admin-content {
    padding: 20px;
    background-color: #f0f2f5;
    overflow-y: auto;
  }

  .orders-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
