.staff-add-koi-content {
  padding: 20px;
  background-color: #f9f9f9;
}

.staff-add-koi-page {
  padding: 30px;
  background-color: #fff;
  min-height: 100%;
  max-width: 800px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.ant-form-item {
  margin-bottom: 20px;
}
