.manager-layout {
  height: 100vh;

  .manager-consignment-page {
    padding: 20px;
    background-color: #f0f2f5;
    overflow-y: auto;
  }

  .consignment-requests-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
