/* src/components/Login/Login.scss */

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../../../../public/koi-background.jpg") no-repeat center
    center fixed;
  background-size: cover;

  .login-form {
    background: rgba(255, 255, 255, 0.95);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;

    .login-options {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
    }

    .error-message {
      color: red;
      margin-top: 10px;
      text-align: center;
    }

    .register-text {
      margin-top: 20px;
      color: #555;
      a {
        color: #1976d2;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    button {
      margin-top: 20px;
      padding: 10px;
      font-size: 16px;
    }

    .MuiButton-root {
      margin-top: 10px;
    }
  }
}
